<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>HeadSpring</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<!-- 相当于配置自己的springmvc前端控制器 -->
	<servlet>
		<servlet-name>tangmvc</servlet-name>
		<servlet-class>tang.mvcframework.servlet.TangDispatchServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>application.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<!-- 大于等于1代表容器启动就会初始化这个servlet -->
	</servlet>

	<servlet-mapping>
		<servlet-name>tangmvc</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>


</web-app>